.angly-widget {
  margin-bottom: 0.5rem !important;
}

.angly-widget li{
  list-style: none;
}

.angly-widget ul{
  margin-block-start: unset;
  padding-inline-start: 15px;
}

.angly-widget ul li span{
  padding-left: 5px !important;
}

