<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <hr style="border-top: 1px solid #eee;">
            <div class="row">
              <div class="col-6 text-right" *ngIf="!isLoggedIn">
                <button (click)="socialSignIn('google')" class="loginBtn loginBtn--google">
                  Login with Google
                </button>
              </div>
              <div class="col-6" *ngIf="isLoggedIn">
                <button (click)="logOut('facebook')" class="loginBtn loginBtn--facebook">
                  Log out
                </button>
              </div>
              <div class="col-6 text-right">
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u=https://stackoverflow.com/questions/9120539/facebook-share-link-without-javascript&t=TITLE"
                  target="_blank" title="Share on Facebook">Share
                </a>

                <a
                  href="https://twitter.com/intent/tweet?url=https://stackoverflow.com/questions/9120539/facebook-share-link-without-javascript&t=TITLE"
                  target="_blank" title="Share on Twitter">Tweet
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


