<div class="product-wrapper section-gap">
	<div class="container">
		<div class="row mb-4">
			<div class="col-sm-12 col-md-6">
				<div class="row">
					<div class="col-sm-8 col-md-8 m-md-b">
						<div class="feature-box-thumb">
							<img src="assets/img/2.jpg" class="img-fluid card-shadow" alt="product image" width="380" height="380" />
						</div><!-- feature box thumb closed -->
					</div>
					<div class="col-sm-4 col-md-4">
						<ul class="list-unstyled list-p-detail">
							<li class="mb-3">
								<a href="javascript:void(0);">
									<img src="assets/img/2.jpg" class="img-fluid" alt="product image" width="100" height="100" />
								</a>
							</li>
							<li class="mb-3">
								<a href="javascript:void(0);">
									<img src="assets/img/2.jpg" class="img-fluid" alt="product image" width="100" height="100" />
								</a>
							</li>
							<li class="mb-3">
								<a href="javascript:void(0);">
									<img src="assets/img/2.jpg" class="img-fluid" alt="product image" width="100" height="100" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="mb-3">
					<h2 class="text-capitalize font-3x mb-3">{{ bookDetail?.name }}</h2>
					<h4 class="font-26 text-primary">$125.00</h4>
				</div>
        <p>{{ bookDetail?.description }}</p>
				<div class="d-flex justify-content-between">
          <div class="align-content-start" *ngIf="true || localUser()?.logged_in_user_id">
            <div *ngIf="bookStatus?.is_rentable">
              <button class="btn btn-primary" (click)="rent(bookDetail.id)">Rent</button> &nbsp; &nbsp; &nbsp;
            </div>
            <div *ngIf="bookStatus?.is_acquirable">
              <button class="btn btn-primary" (click)="acquire(bookDetail.id)">Acquire</button>
            </div>
            <div *ngIf="bookStatus?.message">{{  bookStatus.message }}</div>
          </div>
				</div>

        <div class="col-6 text-right">
          <a
            href="https://www.facebook.com/sharer/sharer.php?u=https://stackoverflow.com/questions/9120539/facebook-share-link-without-javascript&t=TITLE"
            target="_blank" title="Share on Facebook">Share
          </a>

          <a
            href="https://twitter.com/intent/tweet?url=http://localhost:4200/book-detail/2&t=TITLE"
            target="_blank" title="Share on Twitter">Tweet
          </a>
        </div>

			</div>
		</div><!-- row closed -->
		<div class="tab-style mb-5">
            <ul class="nav nav-tabs nav-tabs-bottom mb-4">
                <li class="nav-item" aria-expanded="false"> <a class="nav-link active" aria-expanded="true" data-toggle="tab" href="#tab-1">Description</a> </li>
                <li class="nav-item"> <a class="nav-link" aria-expanded="false" data-toggle="tab" href="#tab-2">Specification</a> </li>
                <li class="nav-item"> <a class="nav-link" aria-expanded="false" data-toggle="tab" href="#tab-3">Reviews</a> </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="tab-1" aria-expanded="true">
                  <p>
                    one more here.
                  </p>
                </div>
                <div class="tab-pane fade" id="tab-2" aria-expanded="false">
                    <p> - Silver, space silver, 1.48 inch TFT LCD capacitive touch screen, 128*128 pixels Resolution; Dial- Plastic; Strap- Flexible &amp; durable
                    - Bluetooth 4.0, Magnetic charging cable (2 m), Sport Band
                    - Retina display with Force Touch, Sport Band with stainless steel pin, Composite back, accelerometer
                   </p>
                </div>
                <div class="tab-pane fade" id="tab-3" aria-expanded="false">
                    <p>just atest again.</p>
                </div>
            </div>
        </div><!-- tab-style closed -->
        <div class="related-post mb-3">
        	<h2 class="mb-5 text-capitalize">Related Products</h2>
        	<div class="row">
        		<div class="col-sm-6 col-md-6 col-lg-3" *ngFor="let product of relatedProducts">
					<div class="card border-0 mb-4">
						<div class="overlay-wrap mb-4 card-shadow border-rad">
							<img class="img-fluid border-rad w-100"
                   src="/assets/img/gettyimages-173015527-612x612.jpg"
                   alt="Card image cap" width="280" height="260" />
						</div>
						<div class="card-body p-0">
							<h5 class="text-capitalize mb-3">{{product.name}}</h5>
							<p>{{product.description}}</p>
              <a [routerLink]="'/book-detail/' + product.id">
                <h5 class="text-capitalize mb-3">{{product.name}}</h5>
              </a>
						</div>
					</div>
				</div>
        	</div>
        </div><!-- related post closed -->
	</div><!-- container closed -->
</div><!-- product wrapper closed -->
