<!-- angly Menu -->
<!-- <div angly-menu></div> -->
<div class="row m-4">
  <div class="col-12">

    <div angly-menu="">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary bg-primary"
           id="mainNav">
        <div class="container"><a class="navbar-brand"
                                  href="/home" routerlinkactive="active-link"><img
          class="img-fluid" height="37" src="assets/img/angly-logo.png" width="110"></a>
          <button aria-controls="navbarCollapse" aria-expanded="true"
                  aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarCollapse"
                  data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto main-menu list-unstyled" id="main"
                menutoggledirective="">
              <li class="nav-item" menutogglelink="" routerlinkactive="open"><a
                class="nav-link" href="/home" menutoggle="" routerlinkactive="active-link">
                Home </a></li>
              <li class="nav-item open" menutogglelink="" routerlinkactive="open">
                <a class="nav-link" href="javascript:void(0)" menutoggle="">Pages&nbsp; <i
                  class="fa fa-caret-down"></i></a>
                <ul class="sub-menu arrow-up list-unstyled">
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/about"
                    routerlinkactive="active-link">
                    About </a></li>
                  <li class="nav-item open" routerlinkactive="open"><a
                    class="nav-link active-link" href="/features" routerlinkactive="active-link">
                    Features </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/contact"
                    routerlinkactive="active-link">
                    Contact </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/support"
                    routerlinkactive="active-link">
                    Support </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/pricing"
                    routerlinkactive="active-link">
                    Pricing </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/search"
                    routerlinkactive="active-link">
                    Search </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/portfolio-v1"
                    routerlinkactive="active-link">
                    Portfolio V1 </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/portfolio-v2"
                    routerlinkactive="active-link">
                    Portfolio V2 </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/portfolio-v3"
                    routerlinkactive="active-link">
                    Portfolio V3 </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/testimonial-v1"
                    routerlinkactive="active-link">
                    Testimonial V1 </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/testimonial-v2"
                    routerlinkactive="active-link">
                    Testimonial V2 </a></li>
                </ul>
              </li>
              <li class="nav-item" menutogglelink="" routerlinkactive="open"><a
                class="nav-link" href="javascript:void(0)" menutoggle="">Features&nbsp; <i
                class="fa fa-caret-down"></i></a>
                <ul class="sub-menu arrow-up list-unstyled">
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/sidebar-widgets"
                    routerlinkactive="active-link">
                    Widgets </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/login"
                    routerlinkactive="active-link">
                    Login </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/sign-up"
                    routerlinkactive="active-link"> Sign
                    Up </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/thank-you"
                    routerlinkactive="active-link"> Thank
                    You </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/maintenance"
                    routerlinkactive="active-link">
                    Maintenance </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/not-found"
                    routerlinkactive="active-link">
                    404 </a></li>
                </ul>
              </li>
              <li class="nav-item" menutogglelink="" routerlinkactive="open"><a
                class="nav-link" href="javascript:void(0)" menutoggle="">Shop&nbsp; <i
                class="fa fa-caret-down"></i></a>
                <ul class="sub-menu arrow-up list-unstyled">
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/product-list"
                    routerlinkactive="active-link">
                    Product List </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/product-cart"
                    routerlinkactive="active-link">
                    Product Cart </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/product-checkout"
                    routerlinkactive="active-link">
                    Product Checkout </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/product-detail"
                    routerlinkactive="active-link">
                    Book Detail </a></li>
                </ul>
              </li>
              <li class="nav-item" menutogglelink="" routerlinkactive="open"><a
                class="nav-link" href="javascript:void(0)" menutoggle="">Blog&nbsp; <i
                class="fa fa-caret-down"></i></a>
                <ul class="sub-menu arrow-up list-unstyled">
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/blog-listing-sidebar"
                    routerlinkactive="active-link">
                    blog column </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/blog-column2"
                    routerlinkactive="active-link">
                    Blog Column2 </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/blog-column3"
                    routerlinkactive="active-link">
                    Blog Column3 </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/blog-masonry2"
                    routerlinkactive="active-link">
                    Blog Masonry2 </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/blog-masonry3"
                    routerlinkactive="active-link">
                    Blog Masonry3 </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/blog-sidebar"
                    routerlinkactive="active-link">
                    Blog Sidebar </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/blog-no-sidebar"
                    routerlinkactive="active-link">
                    Blog No Sidebar </a></li>
                  <li class="nav-item" routerlinkactive="open"><a
                    class="nav-link"
                    href="/blog-detail"
                    routerlinkactive="active-link">
                    Blog Detail </a></li>
                </ul>
              </li>
              <li>
                <div class="search-form" click-outside=""><span
                  data-target="#search-style-simple"><i
                  class="fa fa-search"></i></span>
                  <div class="module-container" id="search-style-simple">
                    <form action="javascript:void(0);"
                          class="search-box ng-untouched ng-pristine ng-valid" method="get" novalidate=""
                          role="search"><input class="form-control" name="" placeholder="Search"
                                               type="search" value="">
                      <button type="submit"><i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
