<div *ngIf="router?.url != '/sign-up' && router?.url != '/login' && router?.url != '/thank-you' && router?.url != '/not-found' && router?.url != '/maintenance'" class="hide-on-print">
   <!-- Footer section 2 -->
   <div class="footer-wrapper-2 py-5 bg-light" style="background-color: #041B66 !important;">
      <div class="container container-full-width">
         <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
               <div class="bottom-footer mb-2">
                  <img src="assets/img/equal-housing.png" style="width:65px;" />
               </div>
               <span style="color:white;">Econ Mortgage, LLC NMLS 1709162 </span>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
               <div class="bottom-footer" style="margin-bottom:4.6rem;"></div>
               <span style="color:white;" class="align-middle">&copy; 2018 EconMortgage.com All rights reserved. </span>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
               <div class="bottom-footer" style="margin-bottom:4.6rem;"></div>
               <a class="pull-right" href="https://facebook.com/EconMortgage" target="_blank" style="color:white;"><i class="fa fa-facebook"></i></a>
            </div>
         </div>
         <!-- <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px !important;">
               <div class="social-without-bg text-left">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="https://facebook.com/EconMortgage" target="_blank"><i class="fa fa-facebook"></i></a></li>
                     <li class="list-inline-item"><a href="https://twitter.com/EconMortgage" target="_blank"><i class="fa fa-twitter"></i></a></li>
                     <li class="list-inline-item"><a href="https://www.linkedin.com/company/econmortgage/?trk=top_nav_home" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
               </div>
            </div>
         </div> -->
      </div><!-- container closed -->
   </div><!-- Footer wrapper closed -->
   <!-- Back To Top -->
   <a href="#" id="back-top" class="to-top scrolled" (click)="topScroll($event)"> <span class="to-top-icon"></span> </a>
</div>

<!-- <div class="show-on-print" style="margin-top: 2em">
    <div class="container">
      <span class="text-muted align-middle">&copy; 2018 EconMortgage.com All rights reserved. </span>
    </div>
</div> -->
